PROJECT_ID="your-gcp-project-id"
BUCKET_NAME="your-gcs-bucket-name"
CS_SA_CREDENTIALS="./cs-sa-key.json"
BQ_PROJECT_ID="your-gcp-project-id"
BQ_DATASET_ID="your-bigquery-dataset-id"
BQ_SA_CREDENTIALS="./bq-sa-key.json"
