KAFKA_BROKERS=localhost:9092 # Modificar quando for integrar para prod
KAFKA_TOPIC=geodata
KAFKA_GROUP_ID=go-consumer-group
KAFKA_MIN_BYTES=1000
KAFKA_MAX_BYTES=10000000
KAFKA_READ_TIMEOUT=5s
KAFKA_MAX_WAIT=500ms
PROCESS_DELAY=0

GCS_BUCKET=kafka-backup-eletromidia
GCS_CREDENTIALS=cs-api-key.json
GCS_BASE_PATH=kafka-backup

FLUSH_INTERVAL=30s
FLUSH_SIZE=500
