API_BASE=https://seu-backend.com
VITE_BASE_URL=https://seu-backend.com
VITE_FIREBASE_API_KEY=chave-da-api-do-firebase
VITE_FIREBASE_AUTH_DOMAIN=seu-dominio.web.app
VITE_FIREBASE_PROJECT_ID=midia-in-da-house
VITE_FIREBASE_STORAGE_BUCKET=midia-in-da-house.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=123456578
VITE_FIREBASE_APP_ID=1234567879101112131415