PROJECT_ID="meu-projeto"
DATASET_ID="meu-dataset"
BUCKET_NAME="meu-bucket"
FILE_NAME="meu-arquivo"
BQ_SA_CRENDENTIALS="caminho/para/minha-chave.json/"
CS_SA_CRENDENTIALS="caminho/para/minha-chave.json/"